@import "tailwindcss";

:root {
  --background: #f7f9fb;
  --foreground: #000000;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar for institutional feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(79, 70, 225, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(79, 70, 225, 0.2);
}
